* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #E6533C;
    --text-color: rgba(255, 255, 255, 0.5);
    --bg-color: black;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

p {
    font-size: 14px;
    line-height: 24px;
}

section {
    padding: 80px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5px;
}

.d-flex {
    display: flex;
}

.img_fluid {
    width: 100%;
}

.btn {
    background-color: var(--primary-color);
    border-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    padding: 14px 0;
    cursor: pointer;
    min-width: 224px;
    border: 1px;
}

/* header style */
header {
    background: linear-gradient(to bottom, black -25%, rgb(30, 30, 30) 50%, black 100%);
}

.hambergar {
    display: none;
}

.nav_wrapper {
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.logo {
    color: var(--primary-color);
    font-weight: 800;
    font-style: italic;
    font-size: 2.25rem;
}

nav {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 3px 15px 3px 4px;
}

.nav_links {
    gap: 50px;
    align-items: center;
}

.nav_links .active {
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 11px 20px;
    font-weight: 600;
}

.nav_link {
    list-style: none;
}

.nav_link a {
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
}

/* banner style */
.banner {
    padding-top: 80px;
}

.banner_container {
    justify-content: space-between;
}

.miama {
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
    line-height: 0;
    font-weight: normal;
}

.banner_left_item {
    width: 50%;
}

.banner_left_item h1 {
    font-size: 4.875rem;
}

.banner_left_item p {
    color: var(--text-color);
    max-width: 520px;
    margin: 28px 0;
}

.banner_right_item {
    width: 50%;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
}

.banner_button_container {
    gap: 10px;
    align-items: center;
}

.btn_download {
    background: transparent;
    border: 1px solid #fff;
}

.banner_right_item img {
    max-width: 350px;
}

.banner_card_1 {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 8rem;
    top: 26rem;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    text-align: start;
    gap: 20px;
    width: 180px;
    height: 70px;
    align-items: center;
    backdrop-filter: blur(10px);
}

.banner_card_1 img {
    width: 40px;
    height: 40px;
}

.banner_card_2 {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    text-align: start;
    width: 180px;
    height: 70px;
    right: -6rem;
    top: 8rem;
    backdrop-filter: blur(10px);
}

.banner_card_2 h1 {
    font-size: 2.5rem;
}

.banner_card_1 h3 {
    font-size: 1.5rem;
}

.banner_card_1 p,
.banner_card_2 p {
    color: var(--text-color) !important;
    font-size: 13px;
}

/* habit section style */
.habit {
    background-color: var(--bg-color);
    text-align: center;
}

.habit h1, .our_team h1, .price h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.habit_paragraph {
    max-width: 640px !important;
    margin: 0 auto 60px !important;
}

.habit p, .price p {
    color: var(--text-color);
    max-width: 230px;
    margin: 0 auto;
}

.habit_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.habit_single_item img {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
}

.habit_single_item h3 {
    font-size: 1.125rem;
    margin-bottom: 0.4rem;
}

/* run and extra style */
.run {
    background-color: var(--bg-color);
}

.run_container {
    padding: 40px;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
}

.run_left_item {
    width: 60%;
}

.run_left_item h1,
.training h1 {
    font-size: 3rem;
    margin-bottom: 14px;
}

.run_left_item p {
    color: var(--text-color);
    max-width: 450px;
    margin-bottom: 35px;
}

.run_right_item {
    width: 40%;
}

.run_right_item img {
    border-radius: 18px;
}

/* Trainings and Exercises */
.training {
    background-color: var(--bg-color);
}

.training p {
    color: var(--text-color);
    max-width: 640px;
    margin-bottom: 60px;
}

.training_container {
    display: grid;
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
}

.training_container_2 {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 1fr;
}

.traning_image {
    overflow: hidden;
    max-height: 271px;
    position: relative;
}

.t_overlay-1::after,
.t_overlay-2::after,
.t_overlay-3::after,
.t_overlay-4::after,
.t_overlay-5::after,
.t_overlay-6::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.t_overlay-1::after {
    background-color: rgba(6, 255, 210, 0.5);
}

.t_overlay-2::after {
    background-color: rgba(255, 0, 0, 0.3);
}

.t_overlay-3::after {
    background-color: rgba(0, 0, 0, 0.5);
}

.t_overlay-4::after {
    background-color: rgba(0, 0, 0, 0.5);
}

.t_overlay-5::after {
    background-color: rgba(66, 255, 0, 0.3);
}

.t_overlay-6::after {
    background-color: rgba(0, 71, 255, 0.3);
}

.t_overlay-1 span,
.t_overlay-3 span,
.t_overlay-5 span,
.t_overlay-6 span {
    position: absolute;
    z-index: 999;
    color: #fff;
    bottom: 30px;
    left: 30px;
    font-size: 14px;
}

.t_overlay-2 span {
    position: absolute;
    z-index: 999;
    color: #fff;
    top: 30px;
    left: 30px;
    font-size: 14px;
}

.t_overlay-4 span {
    position: absolute;
    z-index: 999;
    color: #fff;
    top: 30px;
    right: 30px;
    font-size: 14px;
}

.traning_image img {
    width: 100%;
}

.t1 {
    transform: scale(1.2);
}

.t2 {
    transform: scale(1.2);
}

.t3 {
    transform: scale(1.3);
    margin-top: 33px;
}

.t4 {
    transform: scale(1.4);
    margin-top: 33px;
}

.t5 {
    transform: scale(1.2);
}

.t6 {
    transform: scale(1.2);
}

/* BMI Calculator */
.bmi {
    background-color: var(--bg-color);
    padding-top: 0;
}

.bmi_header {
    max-width: 670px;
    margin: 0 auto 88px;
}

.bmi h1 {
    font-size: 3rem;
    margin-bottom: 14px;
}

.bmi p {
    color: var(--text-color);
}

.calculator_section {
    background-color: #222222;
    padding: 50px 0;
}

.calculator_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cal_left_item h2 {
    font-size: 1.75rem;
    margin-bottom: 52px;
}

.bmi_table {
    border-collapse: collapse;
}

.bmi_table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    text-align: start;
    width: 350px;
}

.bmi_table>thead th {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.bmi_table>tbody>tr>td {
    color: var(--text-color);
    font-size: 14px;
}

.cal_right_item h2 {
    font-size: 1.75rem;
    margin-bottom: 14px;
}

.bmi_form {
    margin-top: 2rem;
}

.bmi_form input,
select,
option {
    width: calc(100% - 40px);
    border: none;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 12px;
    padding: 12px 20px;
    border-radius: 8px;
    color: var(--text-color);
    font-size: 1rem;
}

.select_bg {
    width: 100%;
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right 0.9rem top 50%;
    background-size: 1.1rem auto;
    appearance: none;
}

.select_bg option {
    background-color: #393939;
    margin-top: 5px;
}


.bmi_form input,
select:focus {
    outline: none;
}

.bmi_form input::placeholder {
    color: var(--text-color);
    font-size: 1rem;
}

.bmi_form select {
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}

.bmi_form_control {
    gap: 12px;
}

.btn_bmi {
    margin-top: 10px;
}

/* Meet our team style */
.our_team{
    background-color: var(--bg-color);
    text-align: center;
    padding-top: 0;
}

.our_team > .container > p {
    color: var(--text-color);
    max-width: 670px;
    margin: 0 auto 60px;
}

.team_container{
    background-color: #191919;
    padding: 20px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.team_single_item{
    position: relative;
}

.team_single_item h4{
    font-size: 1.25rem;
    margin-bottom: 3px;
}

.team_inner_info{
    position: absolute;
    left: 20px;
    bottom: 16px;
    margin-bottom: 0;
    text-align: start;
}

.team_inner_info p{
    color: var(--text-color);
}

/* price style */
.price{
    background-color: var(--bg-color);
    text-align: center;
}

.price_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.price_item{
    background: #191919;
}

.price_item{
    padding: 50px;
    position: relative;
    overflow: hidden;
}

.price_item:nth-child(2):before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    position: absolute;
    width: 270px;
    height: 90px;
    background-color: var(--primary-color);
    top: -18px;
    right: -108px;
    transform: rotate(40deg);
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price_item h2{
    font-size: 4rem;
    font-family: "Teko", sans-serif;
    line-height: 50px;
}

.price_item sup{
    font-size: 1.5rem;
    position: relative;
    top: -10px;
}

.price_item p{
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 400;
}

.price_item li{
    list-style: none;
    color: var(--text-color);
    margin-bottom: 15px;
    font-size: 15px;
}

.price_item li h3{
    font-size: 20px;
    margin: 50px 0;
}

.price_item li:nth-child(2){
    border-bottom: 1px solid #323232;
    padding-bottom: 15px;
}

.price_item li:nth-child(3){
    border-bottom: 1px solid #323232;
    padding-bottom: 15px;
}
.btn_price{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 3px;
    margin-top: 2rem;
}
/* footer style */
footer{
    padding-top: 70px;
    background-color: #191919;
}

.footer_primary{
    display: grid;
    grid-template-columns: 1.6fr 1.4fr;
    margin-bottom: 60px;
}

.footer_link_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer_details h1{
    color: var(--primary-color);
    font-size: 4rem;
    font-style: italic;
    margin-bottom: 16px;
}

.footer_details p{
    color: var(--text-color);
    max-width:450px;
}

.footer_importents_link h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
}


.footer_importents_link li{
    list-style: none;
    margin-bottom: 10px;
}

.footer_importents_link a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    transition: color .1s ease-out;
}

.footer_importents_link a:hover{
    color: var(--primary-color);
}

.footer_copy{
    text-align: center;
    color: var(--text-color);
}

.footer_copy p{
    font-size: 1rem;
    padding: 35px 0;
    border-top: 1px solid var(--text-color);
}